

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #4d7376;
}

.nav-logo{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nombre-tienda, .nav-link{
    color: rgb(12, 12, 2);
    text-decoration: none;
    font-size: x-large;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

.imagen{
    width: 100%;
    height: 7vh;
}

.nav-link{
    color: aliceblue;
    font-weight: 400;
}

.nav-link{
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover{
    transition: 1s;
    color: black;
    border-radius: 5px;
    background-color: rgb(125, 136, 132);
}