.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #4d7376;
}

.nav-logo{
    width: 40%;
    display: flex;
    align-items: center;
}

.nombre-tienda, .nav-link{
    color: rgb(12, 12, 2);
    text-decoration: none;
    font-size: x-large;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

.imagen{
    width: 100%;
    height: 7vh;
}

.div-nav-link{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-link{
    color: aliceblue;
    font-weight: 400;
}

.nav-link{
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover{
    transition: 1s;
    color: black;
    border-radius: 5px;
    background-color: rgb(125, 136, 132);
}

.imagenCarrito{
    width: 5%;
}

@media (max-width: 767.98px) { 
    .nav-logo{
        width: 30%;
    }

    .imagenCarrito{
        width: 10%;
    }
}

@media (max-width: 575.98px) { 

    .nav-logo{
        width: 100%;
        justify-content: center;
    }
    

    .div-nav-link{
        width: 100%;
    }
}